.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

a
{
   text-decoration: none !important;
   color:white;
}

a:hover
{
   text-decoration: none !important;
   color:white;
}

#home{
  background-color: #ff8000;
  height: 100vh; 
}

#about{
  background-color: #990000;
  height: 100vh; 
}

#contact{
  background-color: #ffad33;
  height: 100vh; 
}

.whiteText{
  color: white;
}

.bigFont{
  font-size: 100px;
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  /* font-family:Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.paddingTop60{
  padding-top: 60px;
}