/* @import url('https://fonts.googleapis.com/css?family=Mulish|Noto+Sans'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600&family=Noto+Sans&display=swap');

/* .css-selector {
  font-family: 'Caveat', serif;
  } */

html {
  scroll-behavior: smooth;  
  
}

/* body {
  font-family: 'Caveat', serif;
} */

.mulishSemiBold {
  font-family: 'Mulish';
  font-weight: 600;
}

.mulishRegular {
  font-family: 'Mulish';
  font-weight: 400;
}

.mulishLight {
  font-family: 'Mulish';
  font-weight: 200;
}

.notoSansRegular {
  font-family: 'Noto Sans';
}

.navbar
        {
            border-bottom:1px solid #000;
            background-color: white;
        }

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

/* .App-link {
  color: white;
} */

a
{
   text-decoration: none !important;
   color:black;
}

a:hover
{
   text-decoration: none !important;
   color:black;
}

.background1{
  /* background-color: #990000; */
  height: 100vh; 
}

.background2{
  /* background-color: #ffad33; */
  height: 100vh; 
}

.whiteColor{
  color: white;
}

.whiteBackgroundColor{
  background-color: white;
}

.blackColor{
  color: black;
}

.blackBackgroundColor{
  background-color: black;
}

.buttonClass:hover{
  background-color: grey;
}

.font40{
  font-size: 40px;
}

.contactBox{  
  height: 500px; 
  border-left: 50vw;
  border-right: 50vw;
}

.autoMargin1{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.padding60{
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.paddingTop60{
  padding-top: 5vh;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.fixLine{
  /* margin-top: auto; */
  margin-bottom: auto;
}

.margin15{
  margin: 15px;
}

.margin30{
  margin: 30px;
}

.padding5{
  padding: 5px;
}

.padding15{
  padding: 15px;
}

.paddingLeft15{
  padding-left: 15px;
}

.paddingBottom30{
  padding-left: 30px;
}

/* LOGO STYLING */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:0px; opacity:0 } 
  to{ bottom:0; opacity:1 }
} */

#myDiv {
  margin:0;
  padding:0;
}

.displayNone{
  display:none;
}

.displayNo{
  visibility:hidden;
}

.displayYes{
  visibility:visible;
}

.marginZero{
  margin:0;
}

.App-be {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-be {
    animation: App-be-spin 1s linear;
    animation-iteration-count: 1;
  }
}

@keyframes App-be-spin {
  from {
    /* transform: rotate(0deg); */
    transform: scaleX(-1);
  }
  to {
    /* transform: rotate(360deg); */
    transform: scaleX(1);
  }
}

#loader{
  padding: 25vh 0vh;
}